<h1>Look for Music</h1>
<p class="lead">use the ngCLISpotify app to browse new music</p>

<form>
  <div class="form-group">
    <input type="text" name="searchStr" [(ngModel)]="searchStr" class="form-control" (keyup)="searchMusic()" placeholder="Search Music..">
  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>
            {{res.name}}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>